{% extends 'base.html' %} 
{% load static %}     
{% block content %} 
      <!-- page wrapper starts -->
      <div id="page-wrapper">
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
           <div class="container" >
              <div class="jumbo-heading" data-aos="fade-down">
                 <h1>Gallery</h1>
                 <!-- Breadcrumbs -->
                 <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                       <li class="breadcrumb-item active" aria-current="page">Gallery </li>
                    </ol>
                 </nav>
                 <!-- /breadcrumb -->
              </div>
              <!-- /jumbo-heading -->
           </div>
           <!-- /container -->
        </div>
        <!-- /jumbotron -->
         <!-- ==== Page Content ==== -->
         <div class="page">
            <div class="container">
               <div class="col-lg-6 text-center offset-lg-3">
                  <h2>Our Photo Gallery</h2>
                  <p>In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
               </div>
               <!-- /col-md-6 -->
            </div>
            <!-- /container -->
            <!-- owl carousel gallery  -->
            {% if gallerys %}
            {% for gallery in gallerys %}
            <div class="owl-stage owl-carousel owl-theme top-centered-nav mt-5 magnific-popup">
               {% if gallery.photo_1 %}
               <div class="col-md-12 gallery-img hover-border">
                  <!-- image -->
                  <a href="{{gallery.photo_1.url}}" title="Our School">
                  <img src="{{gallery.photo_1.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
               {% if gallery.photo_2 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_2.url}}" title="Our School">
                  <img src="{{gallery.photo_2.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
               {% if gallery.photo_3 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_3.url}}" title="Our School">
                  <img src="{{gallery.photo_3.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
               {% if gallery.photo_4 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_4.url}}" title="Our School">
                  <img src="{{gallery.photo_4.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
               {% if gallery.photo_5 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_5.url}}" title="Our School">
                  <img src="{{gallery.photo_5.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
               {% if gallery.photo_6 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_6.url}}" title="Our School">
                  <img src="{{gallery.photo_6.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_7 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_7.url}}" title="Our School">
                  <img src="{{gallery.photo_7.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_8 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_8.url}}" title="Our School">
                  <img src="{{gallery.photo_8.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_9 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_9.url}}" title="Activities">
                  <img src="{{gallery.photo_9.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_10 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_10.url}}" title="Activities">
                  <img src="{{gallery.photo_10.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_11 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_11.url}}" title="Activities">
                  <img src="{{gallery.photo_11.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               {% if gallery.photo_12 %}
               <div class="col-md-12 gallery-img hover-border">
                  <a href="{{gallery.photo_12.url}}" title="Activities">
                  <img src="{{gallery.photo_12.url}}" class="img-fluid rounded" alt="">
                  </a>
               </div>
               {% endif %}
               <!-- /col-md-12 -->
            </div>
            {% endfor %}
            {% endif %}
            <!-- /owl-carousel -->	
         </div>
         <!-- /page -->
      </div>
      <!--/ page-wrapper -->
{% endblock %}