{% extends 'base.html' %} 
{% load static %}     
{% block content %} 
 
 <!-- page wrapper starts -->
      <div id="page-wrapper">
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
           <div class="container" >
              <div class="jumbo-heading" data-aos="fade-down">
                 <h1>Pricing</h1>
                 <!-- Breadcrumbs -->
                 <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                       <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                    </ol>
                 </nav>
              </div>
           </div>
           <!-- /jumbo-heading -->
        </div>
        <!-- /jumbotron -->
        <!-- ==== Page Content ==== -->
        <div class="page container">
           <!-- row-->
           <div class="row mb-5">
              <div class="col-lg-5">
                 <img src="{% static 'img/about/pricing.jpg' %}" alt="" class="img-fluid rounded d-block mx-auto">
              </div>
              <!-- /col-lg-->
              <div class="col-lg-7 mt-3">
                 <h2>Our Rates & Fees </h2>
                 <p>
                    Etiam vestibulum sit amet nulla vel ornare. Vestibulum vitae turpis ac sapien pharetra facilisis. Curabitur non libero justo.
                    <!-- alert-->
                 <div class="alert alert-warning mt-3" role="alert">
                    <h6> Payment information</h6>
                    <p>Curabitur et quam felis. Nulla rhoncus laoreet dolor, et vestibulum sem consectetur a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis ut sagittis tempor.
                 </div>
              </div>
              <!-- /col-lg-->
           </div>
           <!-- /row-->
           <!-- pricing tables -->
           <div class="col-lg-12 mt-5">
              <!-- row -->
              <div class="row">
                 <!-- pricing table 1 -->
                 <div class="col-lg-4 col-md-12">
                    <div class="pricingTable">
                       <div class="pricingTable-header bg-primary">
                          <h3 class="title">Daily Plan</h3>
                       </div>
                       <!-- /pricingTable-header -->
                       <div class="pricing-content bg-primary">
                          <div class="price-value">
                             <span class="amount">$40</span>
                             <span class="month">Price per day</span>
                          </div>
                          <!-- /price-value -->
                          <ul>
                             <li>No Contracts</li>
                             <li>10 hours/day</li>
                             <li>Drop In</li>
                             <li>Activities Included</li>
                          </ul>
                          <a href="{% url 'contact' %}" class="btn">Sign Up</a>
                       </div>
                       <!-- /pricing content -->
                    </div>
                    <!-- /pricing-table -->
                 </div>
                 <!-- /col-md -->
                 <!-- pricing table 2 -->
                 <div class="col-lg-4 col-md-12 res-margin">
                    <div class="pricingTable">
                       <div class="pricingTable-header bg-secondary">
                          <h3 class="title">Weekly Plan</h3>
                       </div>
                       <!-- /pricingTable-header -->
                       <div class="pricing-content bg-secondary">
                          <div class="price-value">
                             <span class="amount">$200</span>
                             <span class="month">Price per week</span>
                          </div>
                          <!-- /price-value -->
                          <ul>
                             <li>No Contracts</li>
                             <li>12 hours/day</li>
                             <li>Drop In</li>
                             <li>Activities Included</li>
                          </ul>
                          <a href="{% url 'contact' %}" class="btn">Sign Up</a>
                       </div>
                       <!-- /pricing content -->
                    </div>
                    <!-- /pricing-table -->
                 </div>
                 <!-- /col-md -->
                 <!-- pricing table 3 -->
                 <div class="col-lg-4 col-md-12 res-margin">
                    <div class="pricingTable">
                       <div class="pricingTable-header bg-tertiary">
                          <h3 class="title">Monthy Plan</h3>
                       </div>
                       <!-- /pricingTable-header -->
                       <div class="pricing-content bg-tertiary">
                          <div class="price-value">
                             <span class="amount">$600</span>
                             <span class="month">Price per month</span>
                          </div>
                          <!-- /price-value -->
                          <ul>
                             <li>No registration fee</li>
                             <li>12 hours/day</li>
                             <li>Drop In</li>
                             <li>Activities Included</li>
                          </ul>
                          <a href="{% url 'contact' %}" class="btn">Sign Up</a>
                       </div>
                       <!-- /pricing content -->
                    </div>
                    <!-- /pricing-table -->
                 </div>
                 <!-- /col-md -->
              </div>
              <!-- /row  -->
           </div>
           <!-- /col-lg-12 -->   <!-- row -->
           <div class="col-lg-12 mt-5">
              <h4>Administrative charges</h4>
              <p>
                 Etiam vestibulum sit amet nulla vel ornare. Vestibulum vitae turpis ac sapien pharetra facilisis. Curabitur non libero justo. Suspendisse at ultrices velit. Quisque aliquet quis nibh sed feugiat. Curabitur et quam felis. Nulla rhoncus laoreet dolor, et vestibulum sem consectetur a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis ut sagittis tempor.
                 <!-- table -->
              <table class="table table-striped">
                 <thead>
                    <tr>
                       <th>Ages</th>
                       <th>Fee Type</th>
                       <th>Value</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>12months to 2 years</td>
                       <td>Registration fee (one time only)</td>
                       <td>$40</td>
                    </tr>
                    <tr>
                       <td>2 years to 8 years</td>
                       <td>Registration fee (one time only)</td>
                       <td>$20</td>
                    </tr>
                    <tr>
                       <td>8 years to 12 years</td>
                       <td>Registration fee (one time only)</td>
                       <td>$20</td>
                    </tr>
                 </tbody>
              </table>
              <!-- /table-->
           </div>
           <!-- /col-lg-12-->
        </div>
        <!-- /page -->
     </div>
     <!--/ page-wrapper -->
     <svg version="1.1" id="footer-divider"  class="secondary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1440 126" preserveAspectRatio="none slice" xml:space="preserve">
        <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
     </svg>
{% endblock %}